@charset "utf-8";
/* CSS Document */


@media (min-width: 1600px) and (max-width: 1500px){
	
}

@media (min-width: 1400px) and (max-width: 1500px){
	
}

@media (min-width: 1300px) and (max-width: 1400px){
	
}
@media (min-width: 1200px) and (max-width: 1300px){
	
}

@media (min-width: 1024px) and (max-width: 1200px){
	.header__nav .navbar-nav {gap: 0 20px;padding-right: 16px;}
  .header__nav-contact {padding-left: 16px;gap: 0 20px;}
  .header__nav .navbar-brand img {width: 180px;object-fit: contain;}

  .hero .carousel-item img {height: 700px;}
  .counter-up-wrapper {gap: 15px 0;}
  .counter__right {padding-left: 0px;}
  .counter-box {padding: 24px 32px;}
}

@media (min-width: 992px) and (max-width: 1024px) {
	.header__nav .navbar-nav {gap: 0 20px;padding-right: 16px;}
  .header__nav-contact {padding-left: 16px;gap: 0 20px;}
  .header__nav .navbar-brand img {width: 180px;object-fit: contain;}
  
  .hero .carousel-item img {height: 700px;}
  .counter-up-wrapper {gap: 15px 0;}
  .counter__right {padding-left: 0px;}
  .counter-box {padding: 23px 32px;}
}

@media only screen and (max-width: 991.98px) {    
.navbar-toggler .icon-bar { width: 24px;transition: .5s ease;}
.navbar-toggler.collapsed .icon-bar:nth-child(2){transform: rotate(0) translateY(0) translateX(0);}
.navbar-toggler.collapsed .icon-bar:nth-child(3){opacity:1}
.navbar-toggler.collapsed .icon-bar:nth-child(4){transform:rotate(0) translateY(0) translateX(0);}
.navbar-toggler .icon-bar:nth-child(2){transform: rotate(-45deg) translateY(5px) translateX(-5px);}
.navbar-toggler .icon-bar:nth-child(3){opacity: 0}
.navbar-toggler .icon-bar:nth-child(4){transform:rotate(45deg) translateY(-4px) translateX(-3px);}
.navbar-header {display: block;}
}


@media (max-width: 767.98px){
    
}

@media (max-width: 575.98px){
    
}
