/******** Google Fonts ********/
@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap');

/** ****** Color Scheme ****** **/
:root {
  --clr-primary: #222222;
  --clr-secondary: #E78760;
  --clr-accent: #399685;

  --clr-neutral-100: #ffffff;
  --clr-neutral-200: #F5F5F5;

  --clr-warm-500: #ECCC66;

  --clr-black-900: #000000;

  --clr-text: #22222299;
    
  --ff-primary: 'Hind Siliguri', sans-serif;
}

/** ****** CSS Resets ****** **/
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
  font: inherit;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
  padding: 0;
  margin-bottom: 0;
}

html:focus-within {
  scroll-behavior: smooth;
}

a:focus, a:hover {
  outline: none;
}

a {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

p {
  font-size: 14px;
  color: var(--clr-primary-900);
  line-height: 18px;
  font-weight: 400;
}

body {
  font-family: var(--ff-primary);
  text-rendering: optimizeSpeed;
  line-height: 1.6rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--ff-primary);
  margin-bottom: 0;
}

img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/** ****** Utility Classes ******* */
.container {
  max-width: 1120px;
}
.fixed-top  {
  background-color: var(--clr-neutral-100) !important;
}
@media only screen and (max-width: 991px){
  .container {
      --bs-gutter-x: 1rem;
  }
}
.flex-center {
  display: flex;
  align-items: center;
}
.bg-secondary {
  background-color: var(--clr-secondary) !important;
}
.bg-neutral-200 {
  background-color: var(--clr-neutral-200);
}
/** ****** Custom Properties ******* */
.custom-pad {
  padding: 60px 0;
}

.custom-button  {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  color: var(--clr-neutral-100);
  border: 1px solid var(--clr-neutral-100);
  font-family: var(--ff-primary);
  font-size: 18px;
  font-weight: 600;
  text-transform: capitalize;
  padding: 12px 32px;
  border-radius: 6px;
  position: relative;
}
.custom-button.fill {
  background-color: var(--clr-accent);
  border-color: var(--clr-accent);
}
.custom-button.accent {
  color: var(--clr-accent);
  border-color: var(--clr-accent);
}
.custom-button.text {
  padding: 0;
  border: none;
}
.custom-button.fill:hover {
  background-color: var(--clr-accent);
  color: var(--clr-neutral-100);
  border-color: var(--clr-accent);
}
.custom-button.accent:hover {
  color: var(--clr-accent);
  border-color: var(--clr-accent);
}

/* If there is a button icon */
.custom-button {
  gap: 0 8px;
}

.custom-button span {
  margin: 0;
  line-height: 1;
  font-size: 17px;
  font-weight: 900;
  display: inherit;
}
/* Basic Button Hover */
.custom-button:hover {
  background-color: transparent;
  color: var(--c-primary);
  border-color: var(--c-primary);
	-webkit-animation: shake-vertical 5s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
	        animation: shake-vertical 5s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
}

.custom-button_form {
  background-color: transparent;
  padding: 0;
  font: inherit; /* add custom-button fonts */
  color: inherit; /* add custom-button color */
  text-transform: inherit; /* add custom-button text-transform */
  border: none;
}

.custom-heading {
  margin-bottom: 32px;
}
.custom-heading h5 {
  font-size: 18px;
  text-transform: uppercase;
  color: var(--clr-secondary);
  font-weight: 700;
  letter-spacing: 3px;
  width: fit-content;
  margin-left: 0;
  padding-left: 36px;
  position: relative;
  margin-bottom: 10px;
}
.custom-heading h5::before {
  position: absolute;
  content: '';
  width: 20px;
  height: 2px;
  background-color: var(--clr-secondary);
  top: 48%;
  transform: translateY(-50%);
  left: 0;
}

.custom-heading h3 {
  font-size: 48px;
  text-transform: capitalize;
  line-height: 54px;
  font-weight: 500;
  color: var(--clr-primary);
}
.custom-paragraph p {
  font-size: 18px;
  line-height: 26px;
  color: rgba(34, 34, 34, 0.6);
  margin-bottom: 32px;
}
.custom-quote p {
  margin: 0;
  font-size: 24px;
  line-height: 32px;
  color: var(--clr-primary);
  font-weight: 300;
  margin-bottom: 32px;
}

/** ****** Keyframes ******* */
.shake-vertical {
	-webkit-animation: shake-vertical 4s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
	        animation: shake-vertical 4s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
}

/**
 * ----------------------------------------
 * animation shake-vertical
 * ----------------------------------------
 */
 @-webkit-keyframes shake-vertical {
  0%,
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateY(8px);
            transform: translateY(8px);
  }
  80% {
    -webkit-transform: translateY(6.4px);
            transform: translateY(6.4px);
  }
  90% {
    -webkit-transform: translateY(-6.4px);
            transform: translateY(-6.4px);
  }
}
@keyframes shake-vertical {
  0%,
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateY(8px);
            transform: translateY(8px);
  }
  80% {
    -webkit-transform: translateY(6.4px);
            transform: translateY(6.4px);
  }
  90% {
    -webkit-transform: translateY(-6.4px);
            transform: translateY(-6.4px);
  }
}

/** ****** Keyframes ******* */

/** =+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+ HOMEPAGE START =+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+ */

/** ----------------------------
*      Section: Header Start
**  --------------------------*/
.header {
  /* change header bg here */
  background-color: var(--c-white);
}

.navbar-toggler:focus {
  box-shadow: none;
  color: #000000;
}
.navbar-toggler {
  position: relative;
  padding: 9px 10px;
  background-image: none;
  border: 1px solid transparent;
  margin: 0;
  height: 45px;
  width: 45px;
  border-radius: 0;
  z-index: 999999;
}

.navbar-toggler { 
  /*change the hamburger menu bg */
  background-color: transparent;
}

.navbar-toggler .icon-bar {
  display: block;
  width: 30px;
  height: 2px;
  border-radius: 1px;
  transition: all 0.5s ease-in-out;
}

.navbar-toggler .icon-bar { 
  /*change the hamburger bars color */
  background-color: #fff;
}

.navbar-toggler .icon-bar + .icon-bar {
  margin-top: 4px;
}


.header__top {
  background-color: var(--clr-primary);
  height: 40px;
}
.menu-item {
  border-left: 1px solid rgba(255, 255, 255, 0.1);
}
.menu-item:first-child  {
  border: none;
}
.header__top-right .menu-item:nth-child(2) {
  border: none;
}
.header__top .menu-item  {
  font-size: 14px;
  color: var(--clr-neutral-100);
  padding: 7px 0;
}
.header__top .menu-item > * {
  margin: 0 1rem;
  font-size: inherit;
  color: inherit;
}
.header__top .menu-item:first-child > * {
  margin-left: 0;
}
.header__top .menu-item:last-child > * {
  margin-right: 0;
}
.header__top .menu-item > a:hover {
  color: var(--clr-warm-500);
}
.social-list  {
  gap: 0 16px;
}
.social-list .social-item a {
  color: var(--clr-neutral-100);
  font-size: 12px;
  transition: all 0.5s ease-in-out;
}
.social-list .social-item a:hover {
  color: var(--clr-warm-500);
  transition: all 0.5s ease-in-out;
}
.social-list .social-item a > * {
  transform: scale(1);
  transition: all 0.5s ease-in-out;
}
.social-list .social-item a:hover > * {
  transform: scale(1.1);
  transition: all 0.5s ease-in-out;
}

.header__nav {
  position: absolute;
  z-index: 99;
  width: 100%;
}
.header__nav .navbar {
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  padding: 0;
}
.header__nav .navbar-nav {
  gap: 0 40px;
  padding-right: 32px;
}
.header__nav .navbar .nav-item > a {
  padding: 25px 0;
  font-size: 18px;
  color: var(--clr-neutral-100);
  font-weight: 600;
  transition: all 0.5s ease-in-out;
}
.header__nav .contact-call-link {
  font-size: 18px;
  font-weight: 600;
  color: var(--clr-warm-500);
}
.header__nav .contact-call-link span {
  margin-right: 8px;
}
.contact-button .custom-button {
  color: var(--clr-warm-500);
  border-color: var(--clr-warm-500);
  padding: 8px 16px;
}
.header__nav-contact {
  padding-left: 32px;
  gap: 0 32px;
  border-left: 1px solid rgba(255, 255, 255, 0.4);
}
.header {
  position: fixed;
  z-index: 999;
  width: 100%;
}
.fixed .header__nav {
  background-color: rgba(0 0 0 / 0.6);
  backdrop-filter: blur(8px);
}
.fixed .header__nav .navbar  {
  border: none;
}
.navbar-brand img {
  transition: all 0.5s ease-in-out;
  height: 70px;
}
.fixed .header__nav .navbar .nav-item > a {
  padding: 15px 0;
  transition: all 0.5s ease-in-out;
}
.fixed .navbar-brand img {
  height: 60px;
  transition: all 0.5s ease-in-out;
}
/** ----------------------------
*      Section: Header End
**  --------------------------*/

/** ----------------------------
*      Section: Hero Start
**  --------------------------*/
.hero .carousel-item {
  z-index: 9;
}
.hero .carousel-item img {
  height: 775px;
  object-fit: cover;
  object-position: center center;
}
.hero .carousel-item::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  background-color: rgba(34, 34, 34, 0.4);
  z-index: 0;
  top: 0;
  left: 0;
}
.hero .carousel-caption {
  bottom: unset;
  top: 50%;
  transform: translateY(-50%);
  max-width: 745px;
  margin: 0 auto;
  padding: 0;
}
.hero .hero__content .sub-heading  {
  margin-bottom: 8px;
}
.hero .hero__content .sub-heading h5 {
  font-size: 18px;
  text-transform: uppercase;
  color: var(--clr-neutral-100);
  font-weight: 700;
  letter-spacing: 3px;
  width: fit-content;
  margin: 0 auto;
  position: relative;
}
.hero .hero__content .sub-heading h5::before,
.hero .hero__content .sub-heading h5::after {
  position: absolute;
  content: '';
  width: 25px;
  height: 2px;
  background-color: var(--clr-neutral-100);
  top: 48%;
  transform: translateY(-50%);
}
.hero .hero__content .sub-heading h5::before {
  left: -41px;
}
.hero .hero__content .sub-heading h5::after {
  right: -41px;
}
.hero .hero__content .heading {
  margin-bottom: 16px;
}
.hero .hero__content .heading h2 {
  font-size: 64px;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 72px;
}
.hero .hero__content .text {
  max-width: 554px;
  margin: 0 auto 32px;
}
.hero .hero__content .text p {
  font-size: 18px;
  line-height: 26px;
}
/** ----------------------------
*      Section: Hero End
**  --------------------------*/
/** ----------------------------
* Section: Quick Services Start
**  --------------------------*/
.quick-services {
  margin-top: -70px;
  position: relative;
  z-index: 99;
}
.qs__content {
  background-color: var(--clr-secondary);
  border-radius: 8px;
  box-shadow: 10px 10px 50px 0px rgba(0, 0, 0, 0.05);
}
.qs__list-item {
  padding: 32px 32px;
  border-left: 1px solid rgba(255, 255, 255, 0.4);
}
.qs__list-item:first-child {
  border: 0;
}
.qs__list-item > * {
  color: var(--clr-neutral-100);
}
.qs__list-item span {
  font-size: 36px;
  margin-bottom: 24px;
}
.qs__list-item h5 {
  font-size: 22px;
  font-weight: 600;
  line-height: 26px;
  text-transform: capitalize;
  margin-bottom: 4px;
}
.qs__list-item p {
  line-height: 20px;
  text-align: center;
  margin-bottom: 0;
}
/** ----------------------------
* Section: Quick Services End
**  --------------------------*/
/** ----------------------------
*      Section: About Start
**  --------------------------*/
.about {
  padding: 60px 0 120px;
}
.about__left {
  padding-right: 2rem;
}

/* .about__right {
  padding-left: 2rem;
} */
/** ----------------------------
*      Section: About End
**  --------------------------*/
/** ----------------------------
*      Section: Services Start
**  --------------------------*/
.services {
  position: relative;
  padding: 30px 0 160px;
  background-color: var(--clr-neutral-200);
  z-index: 9;
  overflow: hidden;
}
.services .custom-heading {
  margin-bottom: 50px;
}
.services::before {
  position: absolute;
  content: '';
  background-image: url('../images/shape-filler.svg');
  width: calc(120% + 1.3px);
  height: 175px;
  background-repeat: no-repeat;
  background-position: bottom;
  left: 50%;
  transform: translateX(-50%) rotateX(180deg);
  top: 0px;
  z-index: -1;
}
.services__top-right .button-wrap {
  text-align: right;
}
.service__box {
  text-align: center;
  margin-bottom: 24px;
}
.service__box .custom-button {
  font-size: 14px;
  font-weight: 400;
  line-height: 23px;
}
.service__box .media img {
  width: 100%;
  border-radius: 8px 8px 0 0;
}
.service__box .content {
  background-color: var(--clr-neutral-100);
  position: relative;
  padding: 32px 32px 52px;
  border-radius: 0 0 8px 8px;
}
.service__box .content h5 {
  font-size: 22px;
  font-weight: 600;
  color: var(--clr-primary);
  text-transform: capitalize;
  margin-bottom: 8px;
}
.service__box .content .button-wrap {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: -24px;
}
.service__box .content p {
  margin: 0;
  font-size: 18px;
  line-height: 26px;
  color: #2229;
}
.services .g-50, .services .gy-50 {
  gap: 50px 0;
}
/** ----------------------------
*      Section: Services End
**  --------------------------*/
/** ----------------------------
*      Section: Supports Start
**  --------------------------*/
.supports {
  /* background-color: var(--clr-neutral-200); */
}
.supports__top {
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 150px 0 170px;
  position: relative;
  z-index: 99;
}
.supports__top::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  background-color: var(--clr-primary);
  opacity: 0.4;
  top: 0;
  left: 0;
  z-index: -1;
}
.supports__top .custom-heading h3 {
  color: var(--clr-neutral-100);
}
.supports__top .custom-paragraph p {
  color: var(--clr-neutral-100);
}

.supports__bottom {
  margin-top: -120px;
  margin-bottom: 0px;
  padding: 0px 0px 120px 0px;
  position: relative;
  z-index: 99;
}
.support__box {
  display: flex;
  align-items: center;
  background-color: var(--clr-neutral-100);
  border-radius: 8px;
  min-height: 255px;
  box-shadow: 10px 10px 50px 0px rgba(0, 0, 0, 0.05);
  margin-bottom: 30px;
}
.support__box .media img {
  width: 100%;
  min-height: 255px;
  object-fit: cover;
  border-radius: 8px 0 0 8px;
}
.support__box .content {
  padding: 32px 32px;
}
.support__box .content h5  {
  font-size: 22px;
  font-weight: 600;
  color: var(--clr-primary);
  text-transform: capitalize;
  margin-bottom: 16px;
}
.support__box .content p  {
  margin: 0;
  font-size: 18px;
  line-height: 26px;
  color: #2229;
  margin-bottom: 16px;
}
/** ----------------------------
*      Section: Supports End
**  --------------------------*/
/** ----------------------------
*      Section: Donations Start
**  --------------------------*/
.donations {
  padding: 0 0 100px;
}
.donation__left {
  padding-right: 32px;
}
.donation__left .button-wrap {
  gap: 0 32px;
}
.donation__right .media img {
  border-radius: 8px;
  width: 100%;
}
/** ----------------------------
*      Section: Donations End
**  --------------------------*/
/** ----------------------------
*      Section: Counter Start
**  --------------------------*/
.counter__left .media {
  position: relative;
}
.counter__left .media img {
  border-radius: 8px;
}
.counter__left .media .play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9;
  color: var(--clr-neutral-100);
  font-size: 70px;
}
.counter__right {
  padding-left: 15px;
}
.counter-box {
  background-image: url('../images/counter-box-pattern.png');
  background-color: var(--clr-neutral-200);
  width: 100%;
  padding: 27px 32px;
  border-radius: 8px;
  text-align: center;
}

.counter-up-wrapper {
  gap: 30px 0;
}
.count-number-and-unit {
  font-size: 48px;
  font-weight: 500;
  color: var(--clr-secondary);
  line-height: 54px;
}
.count-title {
  font-size: 18px;
  line-height: 26px;
  color: var(--clr-primary);
}
/** ----------------------------
*      Section: Counter End
**  --------------------------*/
/** ----------------------------
*      Section: Testimonials Start
**  --------------------------*/
.testimonials {
  padding: 150px 0;
  position: relative;
  overflow: hidden;
}
.testimonials::before {
  position: absolute;
  content: '';
  background-image: url('../images/shape-filler.svg');
  width: calc(150% + 1.3px);
  height: 230px;
  background-repeat: no-repeat;
  background-position: bottom;
  left: 50%;
  transform: translateX(-50%) rotateX(180deg);
  bottom: 0px;
  z-index: -1;
  background-color: var(--clr-neutral-200);
  background-size: contain;
}
.testimonials .custom-heading {
  margin-bottom: 50px;
}
.testimonial__left .custom-paragraph p {
  margin-bottom: 50px;
}
.testimonial__box {
  box-shadow: 10px 10px 50px 0px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
}
.testimonial__box .heading h5{
  position: relative;
}
.testimonial__box .heading h5::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
}
.testimonial__box.large .heading h5::before {
  background-image: url('../images/testimonial-icon-yellow.png');
}
.testimonial__box.small .heading h5::before {
  background-image: url('../images/testimonial-icon-white.png');
}
.testimonial__box .client {
  display: flex;
  align-items: flex-start;
  gap: 0px 16px;
  padding-bottom: 32px;
}
.testimonial__box .client img {
  width: 64px;
  height: 64px;
  object-fit: cover;
  object-position: center center;
  border-radius: 8px;
}
.testimonial__box .client .client-details .c-name {
  font-size: 22px;
  line-height: 26px;
  font-weight: 600;
  color: var(--clr-primary);
}
.testimonial__box .client .client-details .c-designation {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  width: fit-content;
  margin-left: 0;
  padding-left: 31px;
  position: relative;
  line-height: 19px;
}
.testimonial__box .client .client-details .c-designation::before {
  position: absolute;
  content: '';
  width: 15px;
  height: 2px;
  background-color: #000;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.testimonial__box.large {
  padding: 64px 64px 0px;
}
.testimonial__box.large .client .client-details .c-name {
  color: var(--clr-neutral-100);
}
.testimonial__box.large .heading h5 {
  font-size: 36px;
  line-height: 46px;
  color: var(--clr-neutral-100);
  margin-bottom: 32px;
  font-weight: 600;
}
.testimonial__box.large .custom-paragraph p {
  font-size: 22px;
  line-height: 36px;
  color: var(--clr-neutral-100);
  margin-bottom: 32px;
}
.testimonial__box.large .client .client-details .c-designation  {
  color: var(--clr-warm-500);
}
.testimonial__box.large .client .client-details .c-designation::before  {
  background-color: var(--clr-warm-500);
}
.testimonial__box.small {
  padding: 32px 32px 0;
}
.testimonial__box.small .heading {
  margin-bottom: 32px;
}
.testimonial__box.small .heading h5 {
  font-size: 22px;
  line-height: 26px;
  font-weight: 600;
}
.testimonial__box.small .custom-paragraph p {
  color: var(--clr-primary);
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 32px;
}
.testimonial__box.small .client .client-details .c-designation  {
  color: #22222299;
}
.testimonial__box.small .client .client-details .c-designation::before  {
  background-color: #22222299;
}
/** ----------------------------
*      Section: Testimonials End
**  --------------------------*/
/** ----------------------------
*      Section: Blog Start
**  --------------------------*/
.blog {
  position: relative;
  background-color: var(--clr-neutral-200);
  padding: 0 0 150px;
}
.blog .custom-heading {
  margin-bottom: 50px;
}
.blog__box {
  background-color: var(--clr-neutral-100);
  border-radius: 8px;
  box-shadow: 10px 10px 50px 0px rgba(0, 0, 0, 0.05);
}
.blog__box .content {
  padding: 32px 32px;
  text-align: center;
}
.blog__box .media img {
  border-radius: 8px 8px 0 0;
}
.blog__box .content h5 {
  font-size: 22px;
  font-weight: 600;
  color: var(--clr-primary);
  text-transform: capitalize;
  margin-bottom: 16px;
}
.blog__box .content p {
  font-size: 18px;
  line-height: 26px;
  font-weight: 600;
  color: #2229;
}
/** ----------------------------
*      Section: Blog End
**  --------------------------*/
/** ----------------------------
*      Section: Footer Start
**  --------------------------*/
.footer {
  background-color: var(--clr-primary);
  padding-top: 80px;
}
.footer > div .footer__col-wrap {
  padding: 58px 0;
  border-top: 1px solid #ffffff1a;
}
.footer > .footer__bottom .footer__col-wrap {
  padding: 32px 0;
}
.footer > .footer__top .footer__col-wrap {
  padding-top: 0px;
  border: none;
}
.footer__col  {
  padding: 0 32px;
}
.footer__col:first-child {
  flex: 0 0 43%;
  padding-left: 0px;
}
.footer__col:last-child  {
  padding-right: 0px;
}
.footer__top .footer__col:nth-child(2) {
  flex: 0 0 36%;
}
.footer__center .footer__col:not(:first-child) {
  padding-right: 0px;
  flex: 1 0 auto;
}
.footer__col .content h4 {
  font-size: 26px;
  color: var(--clr-neutral-100);
  font-weight: 600;
  margin-bottom: 8px;
  text-transform: capitalize;
}
.footer__col .content p {
  color: #FFF9;
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 8px;
}
.newsletter {
  padding-top: 8px;
}
.newsletter .form-group input {
  font-size: 18px;
  padding: 15px 16px;
  line-height: 26px;
  color: var(--clr-primary);
  margin-bottom: 16px;
}
.form-button {
  position: relative;
  width: 100%;
}
.form-button::before {
  content: '';
  position: absolute;
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  content: "\f105";
  color: var(--clr-neutral-100);
  font-size: 18px;
  z-index: 9;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  left: 65%;
}
.form-button input {
  background-color: transparent;
  border: none;
  color: var(--clr-neutral-100);
  font-family: var(--ff-primary);
  font-size: 18px;
  font-weight: 600;
  text-transform: capitalize;
}
.form-button .form-control:focus {
  color: inherit;
  background-color: transparent;
  border-color: transparent;
  outline: 0;
  box-shadow: none;
}
.footer__heading h5 {
  font-size: 22px;
  color: var(--clr-neutral-100);
  font-weight: 600;
  text-transform: capitalize;
  margin-bottom: 32px;
  position: relative;
  padding-left: 34px;
}
.footer__heading h5::before {
  position: absolute;
  content: '';
  width: 18px;
  height: 2px;
  background-color: var(--clr-neutral-100);
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.footer__list li:not(.social-item) {
  font-size: 18px;
  color: #fff9;
  font-weight: 400;
  line-height: 26px;
  padding-bottom: 8px;
}
.footer__list li:last-child {
  padding-bottom: 0;
}
.footer__list li a  {
  font: inherit;
  color: inherit;
  line-height: inherit;
}
.footer__list li a:hover {
  color: var(--clr-warm-500);
}
.footer__list.social-list {
  gap: 0 32px;
}
.footer__logo {
  margin-bottom: 16px;
  display: inline-block;
}
.footer__bottom .copyright p {
  color: #fff9;
  margin-bottom: 0;
  text-align: center;
}
/** ----------------------------
*      Section: Footer End
**  --------------------------*/
/** ----------------------------
*      Section: Name Start
**  --------------------------*/
/** ----------------------------
*      Section: Name End
**  --------------------------*/

/** =+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+ HOMEPAGE END =+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+ */